# ----------------------------------------
# Virtual environment (NEVER COMMIT)
# ----------------------------------------
.venv/

# ----------------------------------------
# Docker volumes (NE JAMAIS METTRE DANS GIT)
# ----------------------------------------
volumes/
postgres-data/
pgadmin-data/

# ----------------------------------------
# Python compiled files
# ----------------------------------------
__pycache__/
*.pyc
*.pyo

# ----------------------------------------
# Logs
# ----------------------------------------
*.log

# ----------------------------------------
# Editors / IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# System files
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Local environment / secrets
# ----------------------------------------
.env
*.env

# ----------------------------------------
# Temporary or test folders
# ----------------------------------------
a/
tmp/
